.wp-block-slide-slide {
	box-sizing: border-box;
    line-height: 1.3;
}

.wp-block-slide-slide * {
	box-sizing: inherit;
}

.wp-block-slide-slide h1,
.wp-block-slide-slide h2,
.wp-block-slide-slide h3,
.wp-block-slide-slide h4,
.wp-block-slide-slide h5,
.wp-block-slide-slide h6 {
	line-height: 1.2;
	word-wrap: break-word;
	font-style: normal;
}

.wp-block-slide-slide h1 {
	font-size: 2.5em;
}

.wp-block-slide-slide h2 {
	font-size: 1.6em;
}

.wp-block-slide-slide h3 {
	font-size: 1.3em;
}

.wp-block-slide-slide h4 {
	font-size: 1em;
}

.wp-block-slide-slide p {
	margin: 20px 0;
}
