.editor-styles-wrapper .editor-writing-flow {
	margin: 0 !important;
	width: 1090px !important;
	max-width: none !important;
}

.editor-post-title {
	padding: 0;
}

.editor-post-title .editor-post-title__input {
	font-size: 32px;
}

.wp-block-embed {
	min-width: 440px;
}

.editor-block-list__layout {
	padding: 0;
}

.edit-post-visual-editor .block-editor-block-list__block {
	margin: 0;
}

.wp-block {
	max-width: 100%;
}

.block-editor-block-list__block .block-editor-block-contextual-toolbar {
	position: absolute;
	top: -1px;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit {
	float: left;
	margin-right: 1em;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-align=right] .block-editor-block-list__block-edit {
	float: right;
	margin-left: 1em;
}

div[data-type="slide/slide"] {
	margin-bottom: 60px !important;
	width: 100% !important;
	max-width: none !important;
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	font-size: inherit;
	height: auto !important;
}

.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: inherit;
}

section.wp-block-slide-slide {
	outline: 1px dashed currentColor;
	width: 1060px !important;
	height: 700px !important;
	padding: calc( 50px + 0.2em ) !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wp-block-slide-slide__background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.wp-block-slide-slide .fragment {
	opacity: 0.5;
}
